.colort {
  color:white;
  font-size: small;
  text-align: center;
}

.imgAl {
  height: 50vh;
  width: auto;
}

.detalle{
font-size: small;
background-color: transparent;
border-color: transparent;
text-align: center;
}

.parrafoCount{
margin: 15px;
}

.imgdetalle{
height: 50vh;
}