.colort {
  color:white;
  font-size: small;
  text-align: center;
}

.imgAl {
  height: 50vh;
  width: auto;
}

.detalle{
font-size: small;
background-color: transparent;
border-color: transparent;
text-align: center;
}

.parrafoCount{
margin: 15px;
}

.imgdetalle{
height: 50vh;
}

.bordeContinuarShopping{
border-color: black;
margin-left: 15vw;
}

.buttonEliminaCarrito{
margin-left: 45vw;}

.tituloCarrito{
  text-align: -webkit-center;
}

.carrito_body{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width:60%;
  margin: 10px;
  border: 2px solid #000;
  background-color: white;
  color: #000;
  margin-left: 50px;
}

.compracard{
  margin-top: 5%;
  width: 30%;
}